@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$black: #000000; 
$cream: #FFFFE6; 
$white: #FFFFFF; 

$green: #79D2A6; 
$teal: #99FFEB; 
$blue: #99CCFF; 
$purple: #C299FF; 
$pink: #FFB3FF; 
$red: #FF8080; 

$title_font: 'Montserrat', sans-serif;