@import './variable'; 
@import './themes'; 


.background {
    height: 100vh; 
    width: 100vw; 
    background-color: $black; 


#landing {
    @include background_color; 
    height: 100vh; 
    width: 80%; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column; 

    #word_box {
        font-family: $title_font; 
        align-items: flex-start; 
        width: 50%; 
        height: 10vh; 
        font-size: 100px; 
}
}
}